:root {
  --font-poppins: 'Poppins', sans-serif;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  --header-white: rgb(231, 231, 231);
}

body {
  font-family: var(--font-poppins);
  background-color: rgb(27, 52, 82);
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

/* animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heightAnimIn {
  0% {
    height: 0;
  }
  100% {
    height: 950px;
  }
}

@keyframes heightAnimOut {
  from {
    transform: scaleY(1);
    opacity: 1;
  }
  to {
    transform: scaleY(0);
    opacity: 0;
  }
}

@keyframes heightAnimIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 2rem;
  font-weight: 500;
  color: var(--header-white);
  text-align: center;
  width: 340px;
}

.stopwatch-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
  align-items: center;
}

.stopwatch-time-elements-wrapper {
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  background-color: rgba(117, 201, 197, 0.103);
  border: 1px solid rgba(255, 255, 255, 0.055);
  border-radius: 16px;
  padding: 10px;
  box-shadow: var(--box-shadow);
}

#hours-wrapper,
#minutes-wrapper,
#seconds-wrapper,
#miliseconds-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  width: 40px;
}

#hours-header,
#minutes-header,
#seconds-header,
#milliseconds-header {
  font-size: 1rem;
}

#miliseconds-wrapper {
  justify-content: end;
}

.start-pause-reset-stopwatch-buttons-wrapper {
  display: flex;
  gap: 20px;
}

.stopwatch-number {
  min-width: 30px;
}

.button {
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: 500;
  color: rgb(51, 51, 51);
  width: 105px;
  padding-block: 15px;
  border-radius: 16px;
  background-color: rgb(138, 221, 131);
  border: 3px solid rgb(255, 255, 255);
  transition-duration: 100ms;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(115, 216, 108);
}

.button:active {
  background-color: rgb(156, 214, 151);
}

#app-header-settings-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 16px;
  margin-top: 10px;
  padding: 10px;
  gap: 10px;
  box-shadow: var(--box-shadow);
}

.image {
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 16px;
  transition-duration: 100ms;
}

.image:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.075);
}

.image:active {
  background-color: rgba(255, 255, 255, 0.158);
}

/* calendar */

#calendar {
  margin-top: 100px;
  width: 340px;
}

.timelog-popup {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: fit-content !important;
  text-wrap: nowrap;
}

.timelog-popup h3 {
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: 16px;
  padding: 10px;
  box-shadow: var(--box-shadow);
}

.vc-date__popup {
  padding: 10px !important;
  display: flex;
  left: 0 !important;
  min-width: fit-content !important;
  font-size: 1rem !important;
}

.vc-week-numbers__content {
  /* setting height to 100% fixes calender weeks being slightly misplaced */
  height: 100%;
}

.popup-text {
  animation: fadeIn 200ms ease-in;
  margin-top: 40px;
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(236, 236, 236);
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 16px;
  padding: 10px;
  box-shadow: var(--box-shadow);
}

/* settings-window */

#settings-window {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(39, 75, 119);
  backdrop-filter: blur(60px);
  top: 10px;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  animation: fadeIn 100ms ease-in;
}

#settings-header {
  margin-block: 40px;
}

#close-window-button-img {
  position: absolute;
  right: 3%;
  top: 2%;
  height: 30px;
  width: 30px;
}

.settings-options-header {
  font-size: 1.4rem;
  color: var(--header-white);
}

.hide-label-text {
  display: none;
}

.settings-property-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  padding-block: 10px;
  gap: 20px;
}

#track-project-settings-wrapper {
  margin-top: 30px;
}

input {
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.171);
  color: var(--header-white);
  font-size: 1rem;
  font-weight: 600;
}

input:focus {
  outline: 1px solid rgba(255, 255, 255, 0.11);
  box-shadow: var(--box-shadow);
}

::-webkit-input-placeholder {
  /* Chrome/Safari/Opera */
  color: #ffffff57;
}

input::-webkit-inner-spin-button {
  /* removes up and down arrows for input type "number" */
  -webkit-appearance: none;
  margin: 0;
}

#save-track-project-button,
#save-goals-per-week-button {
  padding-block: 10px;
  width: 120px;
}

.save-popup-text {
  margin-top: 40px;
  animation: fadeIn 200ms ease-in;
}

/* goal / tracking project in app text */

.info-text-in-app-wrapper {
  margin-top: 20px;
  border-radius: 10px;
  color: var(--header-white);
  font-size: 1.2rem;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.171);
}
