:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
  background-color: rgb(27, 52, 82);
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

/* animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heightAnimIn {
  0% {
    height: 0;
  }
  100% {
    height: 950px;
  }
}

@keyframes heightAnimOut {
  from {
    transform: scaleY(1);
    opacity: 1;
  }
  to {
    transform: scaleY(0);
    opacity: 0;
  }
}

@keyframes heightAnimIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}

#app-header {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(231, 231, 231);
  text-align: center;
}

.stopwatch-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 20px;
  align-items: center;
}

.stopwatch-time-elements-wrapper {
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: rgba(117, 201, 197, 0.103);
  border: 1px solid rgba(255, 255, 255, 0.055);
  border-radius: 16px;
  padding: 10px;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);
}

#hours-wrapper,
#minutes-wrapper,
#seconds-wrapper,
#miliseconds-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}

#miliseconds-wrapper {
  justify-content: end;
}

.start-pause-reset-stopwatch-buttons-wrapper {
  display: flex;
  gap: 20px;
}

.stopwatch-number {
  min-width: 30px;
}

.button {
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: 500;
  color: rgb(51, 51, 51);
  width: 105px;
  padding-block: 15px;
  border-radius: 16px;
  background-color: rgb(138, 221, 131);
  border: 3px solid rgb(255, 255, 255);
  transition-duration: 100ms;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(115, 216, 108);
}

.button:active {
  background-color: rgb(156, 214, 151);
}

#app-header-settings-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 16px;
  margin-top: 10px;
  padding: 10px;
  gap: 10px;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);
}

.image {
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 16px;
  transition-duration: 100ms;
}

.image:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.075);
}

.image:active {
  background-color: rgba(255, 255, 255, 0.158);
}

/* calendar */

#calendar {
  margin-top: 100px;
}

.vc-date__popup div {
  display: flex;
  justify-content: start;
  min-width: fit-content !important;
  text-wrap: nowrap;
}

.vc-date__popup {
  display: flex;
  left: 0 !important;
  min-width: fit-content !important;
  font-size: 1rem !important;
}
